    <section>
        <div id="portfolio">
            <h3>PORTFOLIO</h3>
            <p>Some of my best project so far</p>
            <hr style="width: 50%;">
            <div>
                <article>
                    <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="img">
                    <h4>Personal Blog</h4>
                    <p>A blog where I pen my thought on programming.</p>
                </article>
                <article>
                    <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="img">
                    <h4>Tic Tac Toe</h4>
                    <p>Complete Tic Toc game along with GUI using JAVA</p>
                </article>
                <article>
                    <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="img">
                    <h4>Time Table Calculater</h4>
                    <p>A web application for automatic time table generation</p>
                </article>
            </div>
        </div>
    </section>