#portfolio{
    background-color: black;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    
}
#portfolio h3,p, hr{
    margin-bottom: 10px;
}
#portfolio div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}
#portfolio div article{
    background-color: white;
    color: black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-radius: 10px;
}
#portfolio div article p *{
    padding: 0 20px;
}

