    <section id="bio">
        <img src="./assets/2019-12-09 16.20.27.jpg" alt="Picture">
        <article>
            <h2>Deepankar Tiwari</h2><br>
            <p>Unix/Linux systems administrator with experience configuring, monitoring, upgrading and maintaining systems hardware, software and related infrastructure. I am willing to learn full stack development, to start this
                journey I have joined Full Stack Developer program by FACE. I am looking forward to add knowledge and 
                values to my carrier. 
                <span class="break"></span>I want to continuously learn, always curious about the new thing in the town.
                I beleive persiverance,consistency and commitment is the key to success. I want to use my skills, knowledge 
                and ability to enhance my career growth.<span class="break"></span>  
            </p><br>
            <a href="#" class="link-button" > Download My Resume</a>
        </article>
    </section>